<div class="inline-block">
	<div class="line-title">Старый пароль</div>
	<div class="line-value"><input class="inputbox" type="password" name="oldpass" value=""></div>
</div>
<div class="inline-block">
	<div class="line-title">Новый пароль</div>
	<div class="line-value"><input class="inputbox" type="password" name="newpass" value=""></div>
</div>
<div class="inline-block">
	<div class="line-title">Повторите новый пароль</div>
	<div class="line-value"><input class="inputbox" type="password" name="newpass2" value=""></div>
</div>
<div class="inline-block">
	<div class="btn-group">
		<a href="" class="btn add changepass"><i class="fa pull-left fa-floppy-o"></i>Сохранить</a>
	</div>
</div>