[vars]
	<div class="inline-block" id="{id}">
		<div class="inline-title"><span>Содержимое</span></div><div class="inline-value"><input class="inputbox" type="text" name="value" value="{text}"></div>
		<div class="inline-title"><span>Код вставки</span></div><div class="inline-value"><input class="inputbox" type="text" name="code" value="{var id={id}}" disabled=""></div>
		<div class="btn-group">
			<a href="" class="btn add savevar"><i class="fa pull-left fa-floppy-o"></i>Сохранить</a>
			<a href="" class="btn del delvar"><i class="fa pull-left fa-minus-square-o"></i>Удалить</a>
		</div>
	</div>
[/vars]